<!-- https://stackoverflow.com/questions/5731162/xml-schema-or-dtd-for-logback-xml -->
<!--suppress ALL -->
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5marker %date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} [%level] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
